.whats-new-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    background: url(../images/wn-section-left.png) no-repeat scroll top left transparent;
    background-size: contain;
    z-index: -1;

    @screen lg {
      top: 80px;
      width: 30vw;
      height: 750px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    top: 50px;
    width: 50vw;
    height: 100%;
    background: url(../images/wn-section-right.png) no-repeat scroll top right transparent;
    background-size: contain;
    z-index: -1;

    @screen lg {
      top: 80px;
      width: 100vw;
      height: 750px;
    }
  }
}

.sponsor-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -480px;
    width: 10vw;
    height: 750px;
    background: url(../images/sponsor-section-left.png) no-repeat scroll bottom left transparent;
    background-size: contain;
    z-index: -1;
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -380px;
    width: 10vw;
    height: 680px;
    background: url(../images/sponsor-section-right.png) no-repeat scroll bottom right transparent;
    background-size: contain;
    z-index: -1;
  }
}
