.whats-new-section {
  position: relative;

  &:before {
    content: '';
    position: absolute;
    left: -50px;
    top: -120px;
    width: 50vw;
    height: 100%;
    background: url(../images/wn-section-left.png) no-repeat scroll top left transparent;
    background-size: contain;
    z-index: -1;

    @screen md {
      left: -70px;
    }

    @screen lg {
      left: 0px;
      top: 20px;
      width: 30vw;
      height: 700px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: -50px;
    top: -78px;
    width: 50vw;
    height: 100%;
    background: url(../images/wn-section-right.png) no-repeat scroll top right transparent;
    background-size: contain;
    z-index: -1;

    @screen sm {
      top: 50px;
    }

    @screen md {
      top: 0px;
      right: -150px;
    }

    @screen lg {
      top: 70px;
      right: -40px;
      width: 100vw;
      height: 700px;
    }
  }
}

.sponsor-section {
  position: relative;

  & .pseudo {
    &:before {
      content: '';
      position: absolute;
      left: 0;
      top: 0px;
      width: 20vw;
      height: 100vw;
      max-height: 1050px;
      background: url(../images/sponsor-section-left-top.png) no-repeat scroll bottom left transparent;
      background-size: contain;
      z-index: -1;
    }

    &:after {
      content: '';
      position: absolute;
      right: 0;
      top: 100px;
      width: 20vw;
      height: 150vw;
      max-height: 1050px;
      background: url(../images/sponsor-section-right-top.png) no-repeat scroll bottom right transparent;
      background-size: contain;
      z-index: -1;
    }
  }

  &:before {
    content: '';
    position: absolute;
    left: 0;
    bottom: 350px;
    width: 20vw;
    height: 100vw;
    max-height: 1050px;
    background: url(../images/sponsor-section-left.png) no-repeat scroll bottom left transparent;
    background-size: contain;
    z-index: -1;
    @screen lg {
      bottom: -520px;
    }
  }

  &:after {
    content: '';
    position: absolute;
    right: 0;
    bottom: 50px;
    width: 20vw;
    height: 100vw;
    max-height: 1050px;
    background: url(../images/sponsor-section-right.png) no-repeat scroll bottom right transparent;
    background-size: contain;
    z-index: -1;

    @screen lg {
      bottom: -350px;
    }
  }
}

.speakers-section {
  position: relative;

  &.featured {
    background:
      linear-gradient(180deg, #89cad9 0%, rgba(149, 212, 226, 0) 22.14%),
      url(../images/featured-speakers-background.jpg) no-repeat scroll top left transparent;
    background-size: cover;
  }

  &.speakers::before {
    content: '';
    position: absolute;
    left: 0;
    bottom: -480px;
    width: 10vw;
    height: 750px;
    background: url(../images/sponsor-section-left.png) no-repeat scroll bottom left transparent;
    background-size: contain;
    z-index: -1;
  }

  &.speakers::after {
    content: '';
    position: absolute;
    right: 0;
    bottom: -380px;
    width: 10vw;
    height: 680px;
    background: url(../images/sponsor-section-right.png) no-repeat scroll bottom right transparent;
    background-size: contain;
    z-index: -1;
  }
}

.location {
  .layer-1 {
    height: 438px;
    background: url(../../public/location/image.jpg) no-repeat scroll bottom right transparent;
    background-size: cover;

    @screen sm {
      height: 668px;
    }
  }

  .layer-2 {
    height: 668px;
    background: url(../../public/location/map-mobile.jpg) no-repeat scroll bottom right transparent;
    background-size: cover;

    h3 {
      font-style: normal;
      font-weight: 600;
      font-size: 22px;
      line-height: 125%;
      letter-spacing: -0.05em;
      color: #000000;
      margin-bottom: 16px;

      @screen lg {
        font-size: 52px;
      }
    }
    p,
    a {
      font-style: normal;
      font-weight: 400;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: -0.02em;
      margin-bottom: 10px;

      @screen lg {
        font-size: 20px;
      }
    }
  }
  .layer-2 {
    @screen lg {
      height: 100%;
      width: 100%;
      background: url(../../public/location/map.jpg) no-repeat scroll bottom right transparent;
      background-size: cover;
    }
  }
}

.bus-schedule {
  .layer-1 {
    width: 100%;
    height: 110vw;
    background: url(../../public/location/timetable-map-1-mobile.jpg) no-repeat scroll bottom right transparent;
    background-size: cover;
  }
  @screen lg {
    .layer-1 {
      height: 100%;
      width: 100%;
      background: url(../../public/location/timetable-map-1.jpg) no-repeat scroll bottom right transparent;
      background-size: cover;
    }
  }
  .intro {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.1em;
      letter-spacing: -0.05em;
      color: #000000;
      margin-bottom: 10px;

      @screen lg {
        font-size: 52px;
        margin-bottom: 16px;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: -0.02em;
      color: #000000;
      @screen lg {
        font-size: 20px;
      }
    }
  }
  .cell:nth-child(2),
  .cell:nth-child(4) {
    border-right: 3px solid #e2e2e2;
  }
}

.boat-schedule {
  .layer-1 {
    width: 100%;
    height: 110vw;
    background: url(../../public/location/timetable-map-2-mobile.jpg) no-repeat scroll bottom right transparent;
    background-size: cover;
  }
  @screen lg {
    .layer-1 {
      height: 100%;
      width: 100%;
      background: url(../../public/location/timetable-map-2.jpg) no-repeat scroll bottom right transparent;
      background-size: cover;
    }
  }
  .intro {
    h2 {
      font-style: normal;
      font-weight: 600;
      font-size: 32px;
      line-height: 1.1em;
      letter-spacing: -0.05em;
      color: #000000;
      margin-bottom: 10px;

      @screen lg {
        font-size: 52px;
        margin-bottom: 16px;
      }
    }
    p {
      font-style: normal;
      font-weight: 500;
      font-size: 16px;
      line-height: 135%;
      letter-spacing: -0.02em;
      color: #000000;
      @screen lg {
        font-size: 20px;
      }
    }
  }
}
